<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaranDataLayer.Properties.Settings.BaranConnectionString"
            connectionString="Data Source=.;Initial Catalog=AMS;User ID=sa;Password=Baran972"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>